/* Estilo do contêiner */
.container {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  justify-content: unset;
}
.pesquisa {
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--font-color);
  font-weight: 500;
  border: 2px solid var(--buttons-color);
  padding: 8px 15px;
  border-radius: 5px;
  outline: none;
  background: var(--background-color);
  z-index: 10000;
}
.pesquisa:focus {
  box-shadow: 0 0 10px var(--buttons-color);
  background: var(--background-2);
  color: var(--font-color-2);
}
.pesquisa::placeholder {
  font-weight: 300;
  color: var(--buttons-color);
}

#demandas-container {
  width: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
  overflow-y: scroll;
  margin-top: 100px;
  padding: 10px;
}
h1.title {
  position: absolute;
  padding: 40px 0;
  color: var(--font-color);
  text-transform: uppercase;
  text-align: center;
  top: 20px;
}
/* Estilo dos cartões */
.card {
  box-shadow: 0 0 5px white;
  border-radius: 8px;
  padding: 15px;
  background: var(--background-2);
  border: 2px solid var(--buttons-color);
  max-width: 49%;
  width: 49%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
}
.card h2 {
  color: var(--font-color-2);
  text-align: center;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .conteudo {
  height: 67.5%;
  width: 100%;
}
.card .buttons-container {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2.5% 0;
}
.card .buttons-container button {
  max-width: 100px;
}
.card .conteudo p {
  display: flex;
  /* flex-direction: column; */
  margin: 5px 0;
  color: var(--font-color-2);
}
.card .conteudo p span {
  font-weight: 600;
  color: var(--buttons-color);
  padding-right: 5px;
}
.card .conteudo p span.description {
  color: var(--font-color-2);
  font-weight: 400;
  max-height: 50px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.card .conteudo p span.usuarios {
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: var(--font-color-2);
  font-weight: 400;
  max-width: 89%;
}

.card .conteudo p span.description::-webkit-scrollbar,
.card .conteudo p span.usuarios::-webkit-scrollbar {
  display: none;
}
.card .conteudo p.status {
  font-weight: 400;
  color: var(--font-color-2);
}
.card .conteudo p span.status.status-cadastrada {
  color: black;
}

.card .conteudo p span.status.status-enviado {
  color: blue;
}

.card .conteudo p span.status.status-verificando {
  color: yellow;
}

.card .conteudo p span.status.status-corrigido {
  color: green;
}
.card .conteudo .dataHoraCad{
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 600;
  color: var(--color-error);
  font-size: .7rem;
}

.card.cadastrada{
  border: 3px solid black;
  box-shadow: 0 0 10px black;
}
.card.enviado{
  border: 3px solid blue;
  box-shadow: 0 0 10px blue;
}
.card.verificando{
  border: 3px solid yellow;
  box-shadow: 0 0 10px yellow;
}
.card.corrigido{
  border: 3px solid green;
  box-shadow: 0 0 10px green;
}

.confirm {
  color: var(--color-success);
  background: var(--background-2);
  border: 2px solid var(--border-success);
}
.cancel {
  color: var(--color-error);
  background: var(--background-2);
  border: 2px solid var(--border-error);
}
.confirm,
.cancel {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.confirm:hover {
  color: var(--color-success);
  background: var(--background-success);
  border: 2px solid var(--border-success);
}
.cancel:hover {
  color: var(--color-error);
  background: var(--background-error);
  border: 2px solid var(--border-error);
}

.filtroContainer{
  position: absolute;
  top: 100px;
  left: 10px;
  width: fit-content;
  height: fit-content;
  color: var(--font-color);
  font-weight: 500;
  border: 2px solid var(--buttons-color);
  padding: 10px;
  border-radius: 5px;
}
.filtroContainer .filtro-control{
  display: flex;
  padding: 5px;
  gap: 5px;
}
.filtroContainer .filtro-control input[type="checkbox"]{
  width: 25px;
  height: 25px;
  outline: none;
  border: 2px solid var(--buttons-color);
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]:checked::before {
  width: 100%;
  height: 100%;
  content: "X";
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--buttons-color);
  font-weight: 800;
}
.filtroContainer .filtro-control p{
  display: flex;
  align-items: center;
}
.filtroContainer .filtro-control:nth-child(4) input:checked{
  border-color: black;
}
.filtroContainer .filtro-control:nth-child(5) input:checked{
  border-color: blue;
}
.filtroContainer .filtro-control:nth-child(6) input:checked{
  border-color: yellow;
}
.filtroContainer .filtro-control:nth-child(7) input:checked{
  border-color: green;
}
.filtroContainer #openFiltro{
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}