@media screen and (max-width: 768px) {
  #demandas-container {
    width: 90%;
  }
  .card {
    width: 90%;
    max-width: 90%;
  }
  h1.title {
    max-width: 50%;

  }
  .card h2{
    font-size: 1.5rem;
  }
  #edit-message{
    top: 90px;
}

}
@media screen and (min-width: 900px){
  .card {
    width: 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 1800px){
  .card .conteudo{
    width: 80%;
  }
}