@media screen and (max-width: 768px) {
  #demandas-container {
    width: 90%;
  }
  .card {
    width: 100%;
    max-width: 90%;
  }
  .title {
    max-width: 50%;
  }
  #edit-message{

    top: 90px;

}

}
@media screen and (min-width: 900px){
  .card {
    width: 40%;
    max-width: 40%;
  }
}